@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,h2, h3, p {
        @apply text-green-1 font-poppins;
    }
    h1 {
        @apply text-[13vw] md:text-[14vw] font-extrabold;
    }
    h2 {
        @apply text-[8vw] md:text-[10vw] font-bold;
    
    }
    h3 {
        @apply text-[6vw] md:text-[11vw] font-semibold;
    }
    p {
        @apply text-[4vw];
    }
}

@layer components {
    .card {
        box-shadow: 0px 0px 7px 2px rgba(166,166,166,0.75);
-webkit-box-shadow: 0px 0px 7px 2px rgba(166,166,166,0.75);
-moz-box-shadow: 0px 0px 7px 2px rgba(166,166,166,0.75);
    }

    .aboutWakaf-shadow {
        box-shadow: -1px -1px 26px -6px rgba(135,135,135,0.75);
-webkit-box-shadow: -1px -1px 26px -6px rgba(135,135,135,0.75);
-moz-box-shadow: -1px -1px 26px -6px rgba(135,135,135,0.75);
    }
}

@font-face {
    font-family: 'Poppins';
    src: url("../../public/font/Poppins-Regular.ttf");
    /* src: url("../../public/font/Poppins-Thin.ttf"); */
}
